<!DOCTYPE html>
<html>
<head>
    
    <title><%= title %></title>

</head>
<body>
        <h1 style="text-align: center;">Edit Employee page</h1>
        <form method="post" action="/updateEmployee">

            <input type="hidden" name="editEmp" value="<%= singleEmp.id %>" />
            <table border="1" align="center">
                <tr>
                    <td>Enter name</td>
                    <td><input type="text" name="name" value="<%= singleEmp.name %>" /></td>
                </tr>

                <tr>
                    <td>Enter Age</td>
                    <td><input type="text" name="age" value="<%= singleEmp.age %>"/></td>
                </tr>
               
                <tr>
                    <td>select gender</td>
                    <td>
                        <input type="radio" name="gender" value="male"  <% if(singleEmp.gender=='male'){ %> <%= 'checked' %> <% } %>/>Male
                        <input type="radio" name="gender" value="female" <% if(singleEmp.gender=='female'){ %> <%= 'checked' %> <% } %>/>Female
                    </td>
                </tr>

                <tr>
                    <td>Select hobby </td>
                    <td>
                        <input type="checkbox" name="hobby" value="Adventure" <% if(singleEmp.hobby.includes('Adventure')){ %> <%= 'checked' %> <% } %> >Adventure
                        <input type="checkbox" name="hobby" value="Cycling" <% if(singleEmp.hobby.includes('Cycling')){ %> <%= 'checked' %> <% } %> >Cycling
                        <input type="checkbox" name="hobby" value="Music" <% if(singleEmp.hobby.includes('Music')){ %> <%= 'checked' %> <% } %> >Music
                    </td>
                </tr>

                <% var city = ["Surat","Rajkot","Vadodara"] %>
                <tr>
                    <td>Select City</td>
                    <td>
                        <select name="city">
                            <option value="">-select city-</option>
                            <% city.map((v,i)=>{ %>
                                <option value="<%= v %>" <% if(singleEmp.city==v){ %> <%= 'selected' %> <% } %>><%= v %></option>
                            <% }) %>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td><input type="submit" name="submit" value="update" /></td>
                </tr>
            </table>
        </form>
        
</body>
</html>